body{
	background:#f6f6f6;
	}



.headline{
	width:37.5rem;
	height:5.1rem;
	background:#0086cf;
	margin:0 auto;
	}
.headline>p{
	font-size:2rem;
	color:#fff;
	text-align:center;
	padding-top:1.1rem;
	}
.product{
	width:37.5rem;
	height:16rem;
	background:url(../images/productbg.jpg) center no-repeat;
	background-size:cover;
	border-bottom:1.2rem #efefef solid;
	}
.info{
	height: 8.7rem;
	font-size:1.4rem;
	color:#333333;
	float:left;
	}
.info>li{
	margin:1.05rem 0 1.05rem 0;
	}
.info>li>a{
	color:#0086cf;
	}
.info.one{
	margin-left:2rem;
	}
.info.two{
	margin-left:0.5rem;
	}
.info.two>li:nth-child(2){
	margin-bottom: -0.5rem;
}
.info.two>li:nth-child(3){
	margin-top: 1.3rem;
}
.info.one>li:nth-child(2){
	margin-bottom:4rem;
	}
.userdata{
	margin-bottom: 1rem;
	width:37.5rem;
	height:34.6rem;
	color:#f6f6f6;
	}
#usernumone,#usernumtwo{
	box-sizing: border-box;
	color:#333333;
	font-size:1.4rem;
	padding-left:1rem;
	border-bottom:1px #e5e5e5 solid;
	position:relative;
	width:37.5rem;
	height:3.8rem;
	}
#usernumone>p{
	text-indent:1em;
	}
#usernumone>p,#usernumtwo>p{
	padding-top:1rem;
	}	
#usernumone>p>input,#usernumtwo>p>input{
	font-size:1.4rem;
	color:#333333;
	margin-left:0.3rem;
	width:7em;
	background:#f6f6f6;
	}
#inputcheck{
	width:1.5rem;
	height:1.5rem;
	margin-top:-1.7rem;
	margin-left:33rem;	
	}
#usernumtwo{
	margin-bottom:1.5rem;
	}
.notice{
	font-size:1.1rem;
	color:#999999;
	margin:0 auto;
	text-align:center;
	width:26em;
	margin-bottom:4.3rem;	
	}
.buynow{
	width:30.5rem;
	height:3.8rem;
	background:#0086cf;
	border-radius:0.5rem;	
	margin:0 auto 2.6rem auto;
	}
.buynow>p{
	font-size:1.6rem;
	color:#FFF;
	text-align:center;	
	padding-top:0.8rem;	
	}
#LJDG{
	width:30.5rem;
	height:3.8rem;
	background:#dfdfdf;
	border-radius:0.5rem;	
	margin:0 auto 2.6rem auto;
	}
#LJDG>p{
	font-size:1.6rem;
	color:#999999;
	text-align:center;	
	padding-top:0.8rem;	
	}	
.productinfo{
	width:37.5rem;
	height:12rem;
	}
.productinfo>p{
	font-size:1.2rem;
	color:#333333;
	text-align:center;
	margin-bottom:2rem;
	}
.productinfo>ul>li{
	font-size:1.2rem;
	color:#333333;
	text-align:left;
	width:32rem;
	margin:0 auto;
	line-height:2.1rem;
	}
.more{
	width:37.5rem;
	}	
.more>p>a{
	font-size:1.2rem;
	color:#0086cf;
	}
.more>p{
	text-align:center;
	padding-top:1rem;
	margin-bottom:2rem;
	}
.more>div>ul>li{
	font-size:1.2rem;
	color:#333333;
	text-align:left;
	width:32rem;
	margin:0 auto;
	line-height:2.1rem;
	}
	
.mask{       
    position: absolute; 
	top: 0px; 
	filter: alpha(opacity=30); 
	background-color: #000;     
    z-index: 100; 
	left: 0px;     
    opacity:0.3; 
	-moz-opacity:0.3;  
	-webkit-opacity:0.3;
	-ms-opacity:0.3;
	-o-opacity:0.3;   
        }     
.icon{
	width:7.25rem;
	height:7.25rem;
	margin:6.8rem auto 2rem auto;
	}
.succ{
	background:url(../images/succpageicon.png) center no-repeat;
	background-size:cover;
	}	
.fail{
	background:url(../images/failpageicon.png) center no-repeat;
	background-size:cover;
	}		
.succinfo{
	font-size:1.8rem;
	text-align:center;
	color:#77af38;
	margin-bottom:7.55rem;
	}
.failinfo{
	font-size:1.8rem;
	text-align:center;
	color:#cf5e5e;
	margin-bottom:1.5rem;
	}	
.failinfosec{
	font-size:1.2rem;
	text-align:center;
	color:#cf5e5e;
	margin-bottom:4.48rem;
	}		
.QRBL{
	width:37.5rem;
	height:22rem;
	background:#fff;
	padding-top:0.01rem;
	position:fixed;
	bottom:-22rem;
	z-index:1000;
	}
.titleline{
	width:37.5rem;
	height:4rem;
	background:#ececee;
	padding-top:0.01rem;
	position:relative;
	}
.titleline>div{
	width:0.3rem;
	height:1.7rem;
	background:#1998fb;
	margin:1.2rem 0 0 1.5rem;
	}	
.titleline>p{
	font-size:1.5rem;
	color:#333333;
	float:left;
	margin:-1.87rem 0 0 2.5rem;
	}		
.QRuserinfo>ul>li{
	font-size:1.4rem;
	color:#333333;
	width:32.75rem;
	height:3.5rem;
	border-bottom:1px #e5e5e5 solid;
	margin:0 auto;
	}
.QRuserinfo>ul>li>p{
	padding-top:0.85rem;
	margin-left:0.3rem;
	}	
.QRuserinfo>ul{
	margin-bottom:2.3rem;
	}	
.QRuserinfo>div{
	width:12.9rem;
	height:3.2rem;
	background:#0086cf;
	margin:0 auto;
	}
.QRuserinfo>div>p{
	font-size:1.5rem;
	text-align:center;
	padding-top:0.5rem;
	color:#fff;
	}
#failed{
	width:12.6rem;
	height:3rem;
	background:#626262;
    position: absolute; 
	top:50%; 
	left:50%;
	margin-left:-6.3rem;
	margin-top:-1.5rem;
    z-index: 100; 
	}
#failed>div{
	background:url(../images/numerror.png) center no-repeat;
	background-size:cover;
	width:1.5rem;
	height:1.5rem;
	margin:0.7rem 0.8rem 0 1.4rem;
	float:left;
}
#failed>p{
	float:left;
	font-size:1.1rem;
	color:#fff;
	padding-top:0.75rem;
	}